@charset "UTF-8";

@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Black.woff2") format("woff2"), url("../fonts/Heebo-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Bold.woff2") format("woff2"), url("../fonts/Heebo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Medium.woff2") format("woff2"), url("../fonts/Heebo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Heebo;
  font-display: swap;
  src: url("../fonts/Heebo-Regular.woff2") format("woff2"), url("../fonts/Heebo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff?flu6qk") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-]::before,
[class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e90d";
}

.icon-arrow-right:before {
  content: "\e900";
}

.icon-arrow-left:before {
  content: "\e901";
}

.icon-youtube:before {
  content: "\e902";
}

.icon-twitter:before {
  content: "\e903";
}

.icon-whatsapp:before {
  content: "\e904";
}

.icon-pinterest:before {
  content: "\e905";
}

.icon-instagram:before {
  content: "\e906";
}

.icon-facebook:before {
  content: "\e907";
}

.icon-mail:before {
  content: "\e908";
}

.icon-measuring:before {
  content: "\e909";
}

.icon-sofa:before {
  content: "\e90a";
}

.icon-ruler:before {
  content: "\e90b";
}

.icon-icon_menu:before {
  content: "\e90c";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
header,
footer,
aside,
section {
  display: block;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  width: 100vw;
  font-size: 100%;
  overflow-x: hidden;
  min-width: 320px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.wrapper {
  color: #363838;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.image {
  position: relative;
  overflow: hidden;
}

.image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.page {
  padding-top: 120px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body {
  background-color: white;
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.3636363636;
}

.btn {
  background-color: #FF6464;
  border-radius: 2px;
  height: 47px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.header {
  min-height: 30px;
  background-color: #fff;
}

.footer {
  min-height: 30px;
  background-color: #DFDFDF;
}

.rightSideMenu {
  position: absolute;
  background-color: #fff;
  top: 0;
  right: 0;
  -webkit-transform: translateX(150%);
      -ms-transform: translateX(150%);
          transform: translateX(150%);
  height: 100vh;
  min-width: 695px;
  padding: 41px 47px;
  -webkit-box-shadow: 1px 1px 5px 1px #5A5A5A;
          box-shadow: 1px 1px 5px 1px #5A5A5A;
  border-left: 1px solid rgba(54, 56, 56, 0.5);
  z-index: 6;
  -webkit-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  overflow-y: auto;
}

.rightSideMenu.rightSideMenu-active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}

.rightSideMenu__close {
  display: block;
  background-color: transparent;
  font-size: 26px;
  line-height: 1;
  margin-bottom: 30px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.rightSideMenu__close:hover {
  color: crimson;
}

.rightSideMenu__logo {
  display: block;
  margin: 0 auto;
  width: 254px;
  height: 100px;
  margin-bottom: 26px;
}

.rightSideMenu__info {
  max-width: 485px;
  margin: 0 auto;
  text-align: center;
}

.rightSideMenu__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.4166666667;
  padding-bottom: 17px;
  margin-bottom: 18px;
  position: relative;
}

.rightSideMenu__title::after {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 252px;
  margin: 0 auto;
  background-color: #6D7278;
}

.rightSideMenu__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6875;
  color: #5A5A5A;
  margin-bottom: 75px;
}

.rightSideMenu__image {
  width: 100%;
  height: 374px;
}

.header {
  color: rgba(54, 56, 56, 0.9033);
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 5;
}

.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 98px;
          flex: 0 0 98px;
  height: 32px;
}

.first .menu__list-item:first-child {
  margin-left: 32px;
}

.second .menu__list-item:last-child {
  margin-right: 98px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__list-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.375;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.menu__list-item a {
  color: inherit;
}

.menu__list-item:hover {
  color: crimson;
}

.menu__list-item:not(:last-child) {
  margin-right: 80px;
}

.burger__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 0;
  font-size: 29px;
  line-height: 1;
  margin-right: 15px;
  color: #000;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.burger__btn:hover {
  cursor: pointer;
  color: crimson;
}

.flex-item {
  padding: 0 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.no-webp .top{
  background-image: url("../img/top-slider/topSliderBg.jpg"); }

.top {
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 87px;
}

.top__slider {
  position: relative;
}

.top__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__slider-image {
  margin-left: 10%;
}

.top__slider-image img {
  max-width: 100%;
}

.top__slider-content {
  margin-top: 10%;
  margin-right: 15%;
}

.top__slider-title {
  position: relative;
  font-weight: 700;
  font-size: 6.875rem;
  line-height: 134/110;
  padding-bottom: 26px;
  margin-bottom: 26px;
}

.top__slider-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #6D7278;
  width: 185px;
}

.top__slider-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 27/16;
  color: #5A5A5A;
}

.top__slider {
  /* Слайдер */
  /* Слайдер запущен */
  /* Слайдер с точками */
  /* Ограничивающая оболочка */
  /* Лента слайдов */
  /* Слайд */
  /* Слайд активный (показывается) */
  /* Слайд основной */
  /* Слайд по центру */
  /* Клонированный слайд */
  /* Стрелка */
  /* Стрелка влево */
  /* Стрелка вправо */
  /* Стрелка не активная */
  /* Точки (булиты) */
  /* Активная точка */
  /* Элемент точки */
}

.top__slider .slick-slider {
  min-width: 0;
}

.top__slider .slick-list {
  overflow: hidden;
}

.top__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__slider .slick-dots {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  bottom: 0;
  right: 45%;
  -webkit-transform: translateX(90%);
      -ms-transform: translateX(90%);
          transform: translateX(90%);
}

.top__slider .slick-dots li:not(:last-child) {
  margin-right: 30px;
}

.top__slider .slick-dots li.slick-active button {
  background-color: #FFEF35;
}

.top__slider .slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #363838;
  border-radius: 50%;
}

.newCollection__container {
  max-width: 1870px;
  padding: 46px 24px 75px 24px;
  margin: 0 auto;
}

.newCollection__content {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newCollection__title {
  position: relative;
  font-weight: 700;
  font-size: 36px;
  line-height: 51/36;
  padding-bottom: 25px;
  margin-bottom: 24px;
}

.newCollection__title::after {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: #6D7278;
  width: 252px;
}

.newCollection__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 27/16;
  color: #5A5A5A;
  max-width: 730px;
  margin-bottom: 51px;
}

.newCollection__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -14.5px;
}

.newCollection__img {
  position: relative;
  padding: 0 14.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  min-width: 252px;
  margin-bottom: 29px;
}

.newCollection__img img {
  max-width: 100%;
}

.newCollection__hover {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
}

.newCollection__hover-title {
  position: relative;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
  line-height: 24/20;
  text-align: center;
  padding: 0 14.5px;
  padding-bottom: 19px;
  margin-bottom: 19px;
}

.newCollection__hover-title::after {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background-color: #6D7278;
  width: 79%;
}

.newCollection__hover-text {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 28/14;
  color: #707070;
  padding: 0 14.5px;
}

.no-webp .baner{
  background-image: url("../img/baner-bg.jpg"); }

.baner {
  padding: 172px 0 156px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.baner__body {
  max-width: 540px;
}

.baner__title {
  position: relative;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 60px;
  line-height: 80/60;
  color: #363838;
  padding-bottom: 22px;
  margin-bottom: 22px;
}

.baner__title::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #6D7278;
  left: 0;
  bottom: 0;
  width: 35%;
}

.baner__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 28/16;
  color: #5A5A5A;
}

.timeline {
  padding: 79px 0 90px 0;
}

.timeline__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  line-height: 51/36;
  text-align: center;
  margin-bottom: 40px;
}

.timeline__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
}

.timeline__item {
  padding-bottom: 19px;
  padding-right: 30px;
}

.timeline__item_1 {
  border-bottom: 2px solid rgba(54, 56, 56, 0.7);
  position: relative;
}

.timeline__item_1::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  bottom: -6px;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: #363838;
}

.timeline__item_2 {
  border-bottom: 2px solid rgba(54, 56, 56, 0.7);
}

.timeline__item_2 div {
  opacity: 0;
}

.timeline__item_3 {
  border-bottom: 2px solid rgba(54, 56, 56, 0.7);
  position: relative;
}

.timeline__item_3::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 2px;
  background-color: rgba(54, 56, 56, 0.7);
}

.timeline__item_4 {
  border-bottom: 2px solid rgba(54, 56, 56, 0.7);
}

.timeline__item_4 div {
  opacity: 0;
}

.timeline__item_5 {
  opacity: 0;
}

.timeline__item_6 {
  padding-top: 60px;
  position: relative;
}

.timeline__item_6::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 2px;
  background-color: rgba(54, 56, 56, 0.7);
}

.timeline__item_7 {
  opacity: 0;
}

.timeline__item_8 {
  display: none;
}

.timeline__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;
  line-height: 23/16;
  padding-bottom: 14px;
}

.timeline__item-title::before {
  margin-right: 10px;
  font-size: 32px;
}

.timeline__item-text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 27/16;
  color: #5A5A5A;
}

.element {
  padding: 0 5px;
}

.footer {
  font-family: "Open Sans";
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0 80px 0;
  margin-left: -5px;
}

.footer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 540px;
          flex: 0 1 540px;
}

.footer__info-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4375;
  margin-bottom: 14px;
}

.footer__info-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6875;
  color: #5A5A5A;
  margin-bottom: 16px;
}

.footer__info-email {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 22px;
  color: inherit;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer__info-email:hover {
  color: crimson;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form-input {
  font-family: inherit;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 368px;
          flex: 0 1 368px;
  padding: 8px 10px 8px 18px;
  border: 1px solid rgba(54, 56, 56, 0.7);
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  background-color: transparent;
  margin-right: 9px;
}

.footer__form-input::-webkit-input-placeholder {
  color: #A1A1A1;
}

.footer__form-input::-moz-placeholder {
  color: #A1A1A1;
}

.footer__form-input:-ms-input-placeholder {
  color: #A1A1A1;
}

.footer__form-input::-ms-input-placeholder {
  color: #A1A1A1;
}

.footer__form-input::placeholder {
  color: #A1A1A1;
}

.footer__form-input:focus {
  border: 1px solid #000;
}

.footer__form-btn {
  font-family: inherit;
  display: inline-block;
  border-radius: 100px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  text-align: center;
  color: #FFFFF0;
  background-color: #363838;
  padding: 8px 10px 8px 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 160px;
          flex: 0 1 160px;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer__form-btn:hover {
  background-color: crimson;
}

.footer__social li:not(:last-child) {
  margin-bottom: 15px;
}

.footer__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  color: #707070;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer__social-link:hover {
  color: crimson;
}

.footer__menu {
  margin-right: 90px;
}

.footer__menu li:not(:last-child) {
  margin-bottom: 15px;
}

.footer__menu-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  color: #707070;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.footer__menu-link:hover {
  color: crimson;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #363838;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #A1A1A1;
  min-height: 110px;
  padding: 0 15px;
}

.icon-mail:before {
  margin-right: 14px;
}

.icon-whatsapp:before,
.icon-youtube:before,
.icon-pinterest:before,
.icon-instagram:before,
.icon-facebook:before {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 16px;
  min-width: 35px;
}

@media (max-width: 1565px) {
  .top__slider-title {
    font-size: 4.875rem;
  }
}

@media (max-width: 1280px) {
  .top__slider-image {
    margin-left: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 43%;
            flex: 1 1 43%;
  }

  .top__slider-content {
    margin-right: 0;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%;
  }

  .top__slider .slick-dots {
    right: 50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
  }

  .newCollection__images {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .newCollection__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33%;
            flex: 0 1 33.33%;
  }
}

@media (max-width: 1160px) {
  .timeline__body {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .timeline__item_4 {
    display: none;
  }
}

@media (max-width: 1098px) {
  .top__slider-content {
    margin-top: 5%;
  }
}

@media (max-width: 940px) {
  .top__slider-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 45%;
            flex: 1 1 45%;
  }

  .top__slider-title {
    font-size: 3.875rem;
    padding-bottom: 16px;
    margin-bottom: 16px;
  }

  .top__slider-text {
    font-size: 14px;
  }

  .footer__menu {
    margin-right: 0;
  }
}

@media (max-width: 810px) {
  .newCollection__container {
    padding: 0px 15px;
  }

  .footer__content {
    display: block;
    padding: 30px 0 40px 0;
  }

  .footer__social li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 25px;
  }

  .footer__social {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 20px 0;
  }

  .footer__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

@media (max-width: 786px) {
  .newCollection__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 768px) {
  .top__slider-image {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .top__slider-title {
    font-size: 2.875rem;
  }
}

@media (max-width: 695px) {
  .page {
    padding-top: 80px;
  }

  .rightSideMenu {
    min-width: 0;
  }

  .header__container {
    height: 80px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo {
    display: none;
  }

  .first .menu__list-item:first-child {
    margin-left: 0;
  }

  .second .menu__list-item:last-child {
    margin-right: 0;
  }

  .menu {
    margin-right: 80px;
  }
}

@media (max-width: 640px) {
  .timeline__body {
    display: block;
  }

  .timeline__item {
    padding: 0 0 25px 0;
  }

  .timeline__item_1 {
    border-bottom: none;
  }

  .timeline__item_1::after {
    background-color: transparent;
  }

  .timeline__item_2 {
    display: none;
  }

  .timeline__item_3 {
    border-bottom: none;
  }

  .timeline__item_3::before {
    background-color: transparent;
  }

  .timeline__item_5 {
    display: none;
  }

  .timeline__item_6 {
    border-bottom: none;
    padding-top: 0;
  }

  .timeline__item_6::before {
    background-color: transparent;
  }

  .timeline__item_7 {
    display: none;
  }
}

@media (max-width: 628px) {
  .top {
    background-size: auto;
    padding-bottom: 0;
  }

  .top__slider-item {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .top__slider-image img {
    width: 320px;
  }

  .top__slider-content {
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .top__slider-title::after {
    right: 0;
    margin: 0 auto;
  }

  .top__slider .slick-dots {
    display: none;
  }

  .top__slider .slick-dots li button {
    width: 0px;
    height: 0px;
  }
}

@media (max-width: 600px) {
  .baner {
    padding: 130px 0 120px 0;
  }

  .baner__body {
    text-align: center;
  }

  .baner__title {
    font-size: 45px;
  }

  .baner__title::after {
    right: 0;
    margin: 0 auto;
  }

  .footer__info {
    text-align: center;
  }

  .footer__form {
    display: block;
  }

  .footer__form-input {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .footer__form-btn {
    display: block;
    width: 100%;
  }
}

@media (max-width: 540px) {
  .newCollection__images {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .newCollection__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

.webp .top{ background-image: url(../img/top-slider/topSliderBg.webp); }

.webp .baner{ background-image: url(../img/baner-bg.webp); }